/*Importacion de la fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*Iconos*/
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

:root{
  --color-1: #1DB954; /*Color principal*/
  --color-2: #323232; /*fondos oscuros secundarios*/
  --color-3: #121212; /*fondo principal*/
  --color-4: #FFFFFF; /*texto*/
  --color-5: #181818; /*Barras laterales*/

  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.8rem;

  --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', sans-serif;
    --animation-1: 200ms;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-3);
  font-family: var(--font-family-1);
  font-size: var(--font-size-1);
  color: var(--color-4);
  height: 100%;
}
.form-input {
  border: solid 1px #e7e7e7;
  border-radius: var(--border-radius-1);
  height: 35px;
  padding: .25rem .5rem;
  font-size: 90%;
  width: 100%;
  box-sizing: border-box;
}
