<div class="side-bar">
  <div class="logo-area">
    <i class="uil uil-layer-group"></i>
    <span class="logo-name">Asistencias</span>
  </div>

  <ul class="side-bar__list list-one">
    <li *ngFor="let item of mainMenu.defaultOptions" [routerLink]="item.router" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact: false}">

      <div class="list-wrapper-item">
        <i [class]="item.icon"></i>
        <span class="side-bar__list list_label">{{ item.name }}</span>
      </div>
    </li>
  </ul>

  <ul class="side-bar__list list-two" *ngIf="mainMenu.accessLink.length > 0">
    <li *ngFor="let item of mainMenu.accessLink" [routerLink]="item.router">
      <div class="list-wrapper-item">
        <i [class]="item.icon"></i>
        <span class="side-bar__list list_label">{{ item.name }}</span>
      </div>
    </li>
  </ul>
</div>
