.side-bar {
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-5);
  /* Fondo oscuro lateral */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-2);
}

.logo-area {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-1);
  /* Verde */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.side-bar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-bar__list li {
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
  transition: background 0.2s;
  color: #b3b3b3;
}

.side-bar__list li:hover,
.active-link {
  background-color: var(--color-2);
  color: var(--color-4) !important;
}

.list-wrapper-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.uil {
  font-size: 1.4rem;
}

.side-bar__separator {
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-2);
}
