<div class="Login-auth-page">
  <div class="Login-auth-wrapper">
    <h3>Sistema de Asistencias</h3>
    <div class="separator"></div>

    <form [formGroup]="formLogin" class="login-auth-form" (ngSubmit)="sendLogin()">
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" placeholder="Ej: adminIndra" class="form-input" formControlName="user" >
        <small *ngIf="formLogin.get('user')?.hasError('required') && formLogin.get('user')?.touched" class="error-msg" >
              El usuario es requerido.
        </small>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" placeholder="********" class="form-input"formControlName="password">
        <small *ngIf="formLogin.get('password')?.hasError('required')&&formLogin.get('password')?.touched "class="error-msg">
              La contraseña es requerida
        </small>
      </div>

      <div *ngIf="errorLogin" class="login-error">
          Credenciales incorrectas.Intente nuevamente.
      </div>
      <div class="form-action">
        <button class="login social-btn" type="submit"[disabled]="formLogin.invalid">
            Ingresar
        </button>
      </div>
    </form>

  </div>

</div>
