<!-- <app-sidebar></app-sidebar> -->
<div class="main-header"><app-header-user></app-header-user></div>

<div class="dashboar-wrapper">
  <div class="card-form">
    <h2>Solicitud Justificacion</h2>
    <p class="subtitle">Justifica tus tardanzas o inasistencias</p>
    <form (ngSubmit)="enviarSolicitud()" #justForm="ngForm">
      <div class="form-group">
        <label>Fecha de Incidencia</label>
        <input type="date" name="fecha" [(ngModel)]="solicitud.fechaIncidencia" required class="form-input"
          #fechaRef="ngModel">
        <small *ngIf="fechaRef.invalid && fechaRef.touched" class="text-error">
          La fecha es obligatoria
        </small>
      </div>
      <div class="form-group">
        <label>Motivo / Explicación </label>
        <textarea name="motivo" [(ngModel)]="solicitud.motivo" required minlenght=10 rows="4" class="form-input"
          placeholder="Ej: Cita medica, paro, trafico..." #motivoRef="ngModel">
        </textarea>
        <small *ngIf="motivoRef.invalid && motivoRef.touched" class="text-error">
          El motivo es obligatorio (minimo 10 letras).
        </small>
      </div>
      <button type="submit" [disabled]="justForm.invalid ||cargando" class="btn-block">
      </button>
    </form>
    <div *ngIf="mensajeResultado"
          class="alert"
          [ngClass]="esError ? 'alert-error' : 'alert-success'">
          {{mensajeResultado}}
    </div>

  </div>

</div>
