.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-4);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background-color 0.2s;
}

.user-info:hover {
  background-color: var(--color-2);
}

.avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
